.App {
  text-align: center;
}





.musicRecords {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.filterDiv {
  text-align: left;
}

.sortDiv {
  text-align: left;
  margin-top: 30px;
}

